.image{
width: 200px;
height: 200px ;
margin: 0 auto;
}

.container{

    text-align: left;
}

body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  a {
    color: var(--bs-blue);
  }

